
a {
  text-decoration: none;
  color: white;
}

.active {
  color: red;

}

.inactive {
  color: grey;

}

.card-body {
  display: flex;
  flex-direction: column;

}

svg {
  display: flex;
  max-width: 300px;

}